.content__breadcrumbs-list {
    padding: 0px;
}

.content__breadcrumbs-list a {
    color: #00b9fe;
}

.content__breadcrumbs-list a:hover {
    color: #613993;
}

.content__breadcrumbs-list li {
    display: inline-block;
    list-style-type: none;
}

.content__product {
    margin-bottom: 30px;
    display: inline-block;
}

.content__product-info, .content__product-slider {
    display: inline-block;
    vertical-align: top;
}

.content__product-slider {
    width: 298px;
    margin-top: 25px;
    overflow: hidden;
}

.content__product-info {
    width: 450px;
    margin-left: 20px;
}

.content__product-info h3 {
    color: #00b9fe;
    font-size: 25px; /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 20px;
}

.content__product-info table {
    width: 100%;
    font-size: 14px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 28px;
}

.content__product-info table tr:nth-child(2n) {
    background: #eef2f4;
}

.content__product-info table td {
    width: 50%;
    padding-left: 10px;
}

.content__product-slider-display {
    position: relative;
    height: 250px;
    margin-bottom: 10px;
    width: 307px;
}

.content__product-slider-display-img {
    display: block;
    position: absolute;
    height: 250px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.content__product-slider-linkimg {
    display: block;
    position: relative;
    width: 75px;
    height: 75px;
}

.bx-prev, .bx-next {
    text-decoration: none;
    display: block;
    position: absolute;
    top: 50%;
    background: url("/img/slider-btns.png") 0 0 no-repeat;
    width: 16px;
    height: 34px;
    margin-top: -17px;
    color: #ffffff;
    line-height: 34px;
}

.bx-prev {
    background-position: 0 0;
    left: 0;
    padding-right: 6px;
    text-align: right;
}

.bx-next {
    background-position: right 0;
    right: 0;
    padding-left: 6px;
}

.content__product-slider-list-item-img {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.content__product-slider-list-item {
    float: left;
    list-style-type: none;
    border: 1px solid #ffffff;
    top: -16px;
}

.img_active {
    border: 1px solid #00b9fe;
}

.content__product-slider-itemss {
    position: relative;
}

.content__column_text {
    margin: 50px 0px;
}

.content__column_text p {
    margin-right: 20px;
}

.content__column_text h3 {
    font-size: 25px; /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 20px;
}

.up-button {
    position: fixed;
    right: 13px;
    bottom: 250px;
    display: block;
    width: 77px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    background: #00b9fe;;
    text-decoration: none;
}

.up-button:before, .up-button:after {
               content: "";
               display: block;
               position: absolute;
               width: 9px;
               height: 5px;
               left: 50%;
               margin-left: -4px;
           }

.up-button:before {
     background: url("/img/up-top.png") 0 0 no-repeat;
     top: -5px;
 }

.up-button:after {
     background: url("/img/up-bottom.png") 0 0 no-repeat;
     bottom: 0px;
 }